
/.vs/MyDrReferral.Api
/MyDrReferral.Api/bin/Debug/net8.0
/MyDrReferral.Api/obj
/MyDrReferral.Data/bin/Debug/net8.0
/MyDrReferral.Data/obj
/MyDrReferral.Service/obj
/MyDrReferral.Service/bin/Debug/net8.0
